.app {
  font-family: 'Arial', sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #d3e2fa;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.form-container {
  margin-bottom: 20px;
}

.transaction-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.input-field {
  flex: 1;
  min-width: 120px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-btn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #45a049;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  border: 1px solid #ddd;
  background-color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #f0f0f0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.balance-sheet {
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}

.balance-sheet h2 {
  color: #333;
  margin-bottom: 16px;
}

.balance-sheet > div {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.balance-sheet p {
  margin: 0;
  color: #333;
  font-weight: 500;
}

.settle-btn {
  background-color: blue; /* Green background */
  border: none;
  color: white; /* White text */
  padding: 10px 20px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none;
  display: inline-block; /* Enable block-level behaviors */
  font-size: 16px;
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Pointer/hand icon */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.settle-btn:hover {
  background-color: #45a049; /* Darker shade of green */
}



.reset-database-btn {
  margin-top: 20px;
  font-size: 0.5rem;
  background-color: grey;
  /* background-color: #ff4136; Red color for caution */
  color: white; /* White text color for contrast */
  border: none; /* No border */
  padding: 5px 10px; /* Padding for button size */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor changes to pointer to indicate clickable */
  font-weight: bold; /* Bold text for emphasis */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Box shadow for 3D effect */
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
}

.reset-database-btn:hover {
  /* background-color: #e74c3c; Slightly lighter red on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Larger shadow on hover for "lifting" effect */
}

.reset-database-btn:active {
   /* background-color: #c0392b; Darker red when the button is clicked */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Reset shadow to give a "pushed" effect */
}

.dev-details {
  margin-top: 10px;
  color: #5281bbb2;
  font-size: 12px;
}

